@model IEnumerable<Entities.Pregunta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <link href="~/Content/modern-business.css" rel="stylesheet" />
    <div class="table-responsive">
     
        <table class="table table-bordered table-hover">
            <tr>
                <th style="background-color:powderblue">
                    @Html.DisplayNameFor(model => model.LaPregunta)
                </th>
                <th style="background-color:powderblue">
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
               
                <th style="background-color:powderblue">
                    @Html.DisplayNameFor(model => model.nivel.ElNivel)
                </th>
                <th style="background-color:powderblue">
                    @Html.DisplayNameFor(model => model.tipoPregunta.TipoDePregunta)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaPregunta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.nivel.ElNivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoPregunta.TipoDePregunta)
                    </td>
                    <td style="min-width:220px">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <div>
            <p>
                <input type="button" class="BotonVerde " style="float:left" value="Crear" onclick="location.href='@Url.Action("Create", "Pregunta")'" />
            </p>
        </div>
    </div>