@model IEnumerable<Evaluaciones.Models.PreguntaCategoriaModels>

@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    <link href="~/Content/modern-business.css" rel="stylesheet" />

    <div class="table-responsive col-md-12">

        <div>
            @foreach (var item2 in Model)
            {
                <h4>Pregunta: @Html.DisplayFor(modelItem => item2.Pregunta)</h4>
                break;
            }
            <br />
        </div>
        <table class="table table-bordered table-hover">
            <tr style="background-color:powderblue">



                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>



                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.ActionLink("Agregar Categoria", "Create", new { id=item.ID_Pregunta }) |
                        @Html.ActionLink("Detalles de la Categoria", "Details", "Categoria", new { id = item.ID_Categoria }, null)|
                        @Html.ActionLink("Eliminar categoria", "Delete", new { id_Pregunta = item.ID_Pregunta, Id_Categoria = item.ID_Categoria })
                    </td>
                </tr>
            }

        </table>

        <div class="form-actions no-color">
         
         
            <input type="button" class="BotonVerde " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "PreguntaCategoria")'" />
        </div>

    </div>
