@model Entities.Examen.ExamenRespuesta

@{
    Layout = null;
}


<title>Vista Examen</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }

    	.container {
		width:996px;
		margin:0px auto;
		font-size:1em;
	}
	section,aside {
		padding: 10px;
		background:#ccc;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	}
	section {
		float: left;
		width: 70%;
	}
	aside {
		float: right;
		width: 25%;
	}
	nav {
		overflow: hidden;
	}
	nav ul {
		list-style-type:none;
		float:left;
		padding:0px;
	}
	nav ul li {
		float:left;
		padding:3px 10px;
		margin:2px;
		background:#ccccff;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	}
	footer {
		margin:10px;
		text-align:center;
		clear:both;
	}

	/* para 980px o menos */
	media screen and (max-width:980px) {
		.container {
			width:98%;
		}
		section {
			width:68%;
		}
	}

	/* para 700px o menos */
	media screen and (max-width:700px) {
		aside,section {
			float:none;
			width:96%;
		}
		nav, section {
			font-size:1.2em;
		}
		aside {
			margin-top:5px;
		}
		nav ul {
			float:none;
			clear:both;
		}
	}

	/* para 480px o menos */
	media screen and (max-width:480px) {
		aside {
			display:none;
		}
		nav, section {
			font-size:1.5em;
		}
		section {
			width:94%;
		}
		nav ul {
			float:left;
			clear:none;
			width:50%;
		}
		nav ul li {
			float:none;
		}
	}





</style>
<body class="w3-theme-l5">





    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">Mi Perfil</h4>

                        <p class="w3-center"><img src="~/img/avatar 4.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <p><i class="fa fa-address-book fa-fw w3-margin-right w3-text-theme"></i>@Html.DisplayFor(model => model.examen.usuario.Email)</p>
                        @{
                            string nombre = Model.examen.usuario.Nombre + " " + Model.examen.usuario.Apellido;
                        }
                        <p><i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i>@nombre</p>
                        <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i>@DateTime.Now</p>
                    </div>
                </div>
                <br>

            </div>

            <!-- Middle Column -->
            @using (Html.BeginForm())
            {
                <div class="w3-col m7">
                    @{int NumeroPregunta = 1;}
                    @foreach (Entities.Examen.ExamenRespuesta item in Model.examenRespuestas)
                    {
                    <div class="w3-container w3-card w3-white w3-round w3-margin">
                        <br>

                        <span class="w3-right w3-opacity">Pregunta Numero: @NumeroPregunta</span>
                        <br />

                        <hr class="w3-clear">
                        <h4 style="color:black">
                            @Html.DisplayFor(model => item.pregunta.LaPregunta)
                        </h4>
                        <div class="w3-row-padding" style="margin:0 -16px">
                            @if (item.pregunta.Imagen != "Sin Imagen")
                            {
                                <div class="w3-half">

                                    @{string Imagen = item.pregunta.Imagen;}
                                    <img src=@Imagen style="width:100%" alt="Imagen" class="w3-margin-bottom">
                                </div>
                            }


                        </div>

                        @if (item.pregunta.tipoPregunta.TipoDePregunta == "MultipleChoice")
                        {

                            foreach (var MC in item.pregunta.ListaMC)
                            {
                                if (MC.Correcta == MC.RespuestaObtenida)
                                {
                                    <h6 style="color:green">    @Html.CheckBoxFor(m => MC.RespuestaObtenida, new { @disabled = "disabled" }) @MC.LaRespuesta   </h6>
                                }
                                else
                                {
                                    <h6 style="color:red">    @Html.CheckBoxFor(m => MC.RespuestaObtenida, new { @disabled = "disabled" }) @MC.LaRespuesta   </h6>
                                }


                            }
                            <br />
                        }
                        @if (item.pregunta.tipoPregunta.TipoDePregunta == "MultipleChoiceCompuesto")
                        {
                            foreach (var SubPregunta in item.pregunta.ListaPregunta)
                            {
                                <h5 style="color:black">  @SubPregunta.LaPregunta</h5>
                                foreach (var Respuesta in SubPregunta.ListaMC)
                                {
                                    if (Respuesta.Correcta == Respuesta.RespuestaObtenida)
                                    {
                                        <h6>   @Html.CheckBoxFor(m => Respuesta.RespuestaObtenida, new { @disabled = "disabled", @style = "color:green" }) @Respuesta.LaRespuesta </h6>
                                    }



                                }
                                <br />
                            }


                            <br />
                        }
                    </div>




                        NumeroPregunta++;
                        <br />


                    }





                    <!-- End Middle Column -->
                </div>

            }
            <!-- Right Column -->
            <div class="w3-col m2">

                <div class="w3-card w3-round w3-white w3-center" style="min-width:330px">
                    <div class="w3-container">
                        <h3 style="color:black">Reglas del examen</h3>

                        <br />

                        <p>- Son 20 Preguntas</p>
                        <p>- Cada Pregunta puede tener más de una respuesta</p>
                        <p>- Cada Pregunta tiene por lo menos una respuesta</p>
                        <p>- Si no sabes la respuesta no selecciones ninguna opción</p>
                        <p>- Para estar aprobado se debes responder 14 preguntas correctamente</p>

                    </div>
                </div>
                <br />
                <div class="w3-card w3-round w3-white w3-center" style="min-width:330px">
                    <div class="w3-container">
                        <h3 style="color:black">¿Necesitas Ayuda?</h3>
                        <img src="https://img.icons8.com/ios/50/000000/help.png/" alt="Avatar" style="width:18%"><br>
                        <br />

                        <p>   dolores.conde@transener.com.ar</p>

                        @*<div class="w3-row w3-opacity">
                                <div class="w3-half">
                                    <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                                </div>
                                <div class="w3-half">
                                    <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></bu
                                    <br>tton>
                                </div>
                            </div>*@
                    </div>
                </div>




                <!-- End Right Column -->
            </div>
            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>



    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>
