@model Entities.MultipleChoiceCompuesto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/Content/modern-business.css" rel="stylesheet" />


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="table-responsive">
        <h4>Crear una Respuesta para la SubRespuesta <i> "@Html.DisplayFor(model => model.pregunta.LaPregunta)"</i> </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h5> @Html.LabelFor(model => model.LaRespuesta, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LaRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LaRespuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.pregunta.Id)


        <div class="form-group">

            <div class="col-md-10">
                <h5> ¿Respuesta correcta?</h5>
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Correcta)
                    @Html.ValidationMessageFor(model => model.Correcta, "", new { @class = "text-danger" })
                    <div style="display:none">  @Html.Label("id_Pregunta", Model.Id.ToString(), new { htmlAttributes = new { @style = "color: none" } })  </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="BotonVerde " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "MultipleChoiceCompuesto",new {id=Model.Id })'" />
                <input type="submit" value="Crear" class="BotonVerde" />
            </div>
        </div>
    </div>
    }*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Crear una Respuesta para la SubRespuesta <i> "@Html.DisplayFor(model => model.pregunta.LaPregunta)"</i></h6>



                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <h5 class="text-justify">Respuesta</h5>
                    @Html.EditorFor(model => model.LaRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LaRespuesta, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.pregunta.Id)


                    <h5 class="text-justify">¿Respuesta correcta?</h5>
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Correcta)
                        @Html.ValidationMessageFor(model => model.Correcta, "", new { @class = "text-danger" })
                        <div style="display:none">  @Html.Label("id_Pregunta", Model.Id.ToString(), new { htmlAttributes = new { @style = "color: none" } })  </div>

                    </div>

                </div>


                <input type="button" class="btn btn-outline-primary " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "MultipleChoiceCompuesto",new {id=Model.Id })'" />

                <br />

                <input type="submit" value="Crear" class="btn btn-outline-info" />

            </div>
        </div>
    </div>
}