@model Entities.MultipleChoiceCompuesto

@{
    ViewBag.Title = "Index";
    string layout = "~/Views/Shared/" + Session["Layout"] + ".cshtml";
    Layout = layout;
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4">

                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Editar la Respuesta <i> "@Html.DisplayFor(model => model.LaRespuesta)"</i></h6>

                </div>

                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*@Html.HiddenFor(model => model.Id)*@

                    @Html.Hidden("id_Pregunta", Model.Pregunta.Id)




                    <h5 class="text-justify">Pregunta</h5>
                    @Html.EditorFor(model => model.LaRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LaRespuesta, "", new { @class = "text-danger" })

                    <h5 class="text-justify">¿Respuesta Correcta?</h5>
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Correcta)
                        @Html.ValidationMessageFor(model => model.Correcta, "", new { @class = "text-danger" })
                    </div>

                </div>



                <input type="button" class="btn btn-outline-primary " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "MultipleChoiceCompuesto",new { id=Model.id_SubPregunta})'" />
                <br />
                <input type="submit" value="Guardar" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}


