@model Entities.MultipleChoice

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/Content/modern-business.css" rel="stylesheet" />
@Html.HiddenFor(model => model.pregunta.Id)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Crear una respuesta para la pregunta <i>"@Html.DisplayFor(model => model.pregunta.LaPregunta)"</i></h6>



                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.pregunta.Id);

                    <h5 class="text-justify">Respuesta</h5>
                    @Html.EditorFor(model => model.LaRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LaRespuesta, "", new { @class = "text-danger" })
                <br />


                    <h5 class="text-justify">¿Es correcta?</h5>
                    @Html.CheckBoxFor(model => model.Correcta)
                    @Html.ValidationMessageFor(model => model.Correcta, "", new { @class = "text-danger" })

                </div>


                <input type="button" class="btn btn-outline-primary " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "MultipleChoice",new { id = Model.pregunta.Id })'" />

                <br />

                <input type="submit" value="Crear" class="btn btn-outline-info" />

            </div>
        </div>
    </div>
}
