@model GreenElectric.Entities.Usuario_Examen.Jefatura

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/Content/modern-business.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar la Jefatura <i> "@Html.DisplayFor(model => model.jefatura)"</i></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <h5>   @Html.LabelFor(model => model.jefatura, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.jefatura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.jefatura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="button" class="BotonVerde " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "Jefatura" )'" />
                <input type="submit" value="Actualizar" class="BotonVerde" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
