@model IEnumerable<Entities.Jefatura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                <h5> @Html.DisplayNameFor(model => model.jefatura)</h5>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.jefatura)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            <input type="button" class="BotonVerde " style="float:left" value="Crear" onclick="location.href='@Url.Action("Create", "Jefatura")'" />
        </p>
    </div>

</div>