@model Entities.SubPregunta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/Content/modern-business.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Crear una SubPregunta para la pregunta <i>"@Html.DisplayFor(model => model.pregunta.LaPregunta)"</i></h6>



                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <h5 class="text-justify">SubPregunta</h5>
                    @Html.EditorFor(model => model.subPregunta.LaPregunta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.subPregunta.LaPregunta, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.pregunta.Id)

                </div>


                <input type="button" class="btn btn-outline-primary " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "MultipleChoiceCompuesto",new { id = Model.pregunta.Id })'" />

                <br />

                <input type="submit" value="Crear" class="btn btn-outline-info" />

            </div>
        </div>
    </div>
}


@section scripts
{
}