@model Entities.SaludCategoria

@{
    ViewBag.Title = "SaludTipoPregunta";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




<link href="~/Content/modern-business.css" rel="stylesheet" />
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <div class="d-flex flex-column" style="align-content:center">
            <div class="container-fluid">
                <div class="card shadow mb-4 ">
                    <div class=" card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Salud de la Categoria
                            @foreach (var item in Model.ListaPreguntasTotal)
                            {
                                <i> "@Html.DisplayFor(modelItem => item.Pregunta.categoria.LaCategoria)"</i>
                                break;
                            }

                        </h6>



                    </div>
                    <div class="card-body">

                        <dl class="dl-horizontal">




                            <dt>
                                @Html.DisplayNameFor(model => model.SaludCategtoria)
                                <i style="text-decoration:none">&nbsp</i>

                                @if (Model.SaludCategtoria == true)
                                {
                                    <a href="#" class="btn btn-success btn-circle">
                                        <i class="fas fa-check"></i>
                                    </a>
                                }
                                @if (Model.SaludCategtoria == false)
                                {
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-cross"></i>
                                    </a>
                                }
                            </dt>
                            <dt style="color:black ; font-size:30px"> Analisis de la pregunta:</dt>

                            &nbsp
                            &nbsp

                            <dt>
                                1.  @Html.DisplayNameFor(model => model.TieneMasDe20Preguntas)
                                <i style="text-decoration:none">&nbsp</i>

                                @if (Model.TieneMasDe20Preguntas == true)
                                {
                                    <a href="#" class="btn btn-success btn-circle">
                                        <i class="fas fa-check"></i>
                                    </a>
                                }
                                @if (Model.TieneMasDe20Preguntas == false)
                                {
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-cross"></i>
                                    </a>
                                }
                            </dt>
                            &nbsp
                            <dt>
                                2.   @Html.DisplayNameFor(model => model.TieneMasDe20PreguntasConBuenaSalud)
                                &nbsp


                                @if (Model.TieneMasDe20PreguntasConBuenaSalud == true)
                                {
                                    <a href="#" class="btn btn-success btn-circle">
                                        <i class="fas fa-check"></i>
                                    </a>
                                }
                                @if (Model.TieneMasDe20PreguntasConBuenaSalud == false)
                                {
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-cross"></i>
                            </a>
                                }
                            </dt>
                            &nbsp
                            &nbsp
                            <dt>

                                3.   @Html.DisplayNameFor(model => model.CantidadDePreguntas)


                                @Html.DisplayFor(model => model.CantidadDePreguntas)

                            </dt>
                            &nbsp
                            &nbsp

                            <dt>

                                4.   @Html.DisplayNameFor(model => model.nivelBajo)


                                @Html.DisplayFor(model => model.nivelBajo)

                            </dt>
                            &nbsp
                            &nbsp
                            <dt>
                                5.   @Html.DisplayNameFor(model => model.nivelMedio)


                                @Html.DisplayFor(model => model.nivelMedio)

                            </dt>
                            &nbsp
                            &nbsp
                            <dt>
                                6.   @Html.DisplayNameFor(model => model.nivelAlto)


                                @Html.DisplayFor(model => model.nivelAlto)

                            </dt>

                        </dl>



                    </div>





                </div>
            </div>
        </div>

        <!-- Begin Page Content -->
        <div class="container-fluid">


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lista de roles</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 103px;">Pregunta</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 162px;">¿Se puede utilizar?</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 162px;">Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model.ListaPreguntasTotal)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    @Html.DisplayFor(modelItem => item.Pregunta.LaPregunta)
                                                </td>
                                                <td class="sorting_1" style="text-align:center">
                                                    @if (item.SaludCategtoria == true)
                                                    {
                                                        <a href="#" class="btn btn-success btn-circle">
                                                            <i class="fas fa-check"></i>
                                                        </a>
                                                    }
                                                    @if (item.SaludCategtoria == false)
                                                    {
                                                        <a href="#" class="btn btn-danger btn-circle">
                                                            <i class="fas fa-cross"></i>
                                                        </a>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.Pregunta.tipoPregunta.TipoDePregunta == "MultipleChoice")
                                                    {
                                                        @Html.ActionLink("Salud Pregunta", "SaludMultipleChoice", "SaludPregunta", new { id = item.Pregunta.Id }, null)
                                                    }

                                                    @if (item.Pregunta.tipoPregunta.TipoDePregunta == "Ordenado")
                                                    {
                                                        @Html.ActionLink("Salud Pregunta", "SaludOrdenado", "SaludPregunta", new { id = item.Pregunta.Id }, null)
                                                    }
                                                    @if (item.Pregunta.tipoPregunta.TipoDePregunta == "MultipleChoiceCompuesto")
                                                    {
                                                        @Html.ActionLink("Salud Pregunta", "SaludMultipleChoiceCompuesto", "SaludPregunta", new { id = item.Pregunta.Id }, null)
                                                    }
                                                </td>


                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


</div>
