@model Entities.Sede

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/modern-business.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Editar la Sede <i> "@Html.DisplayFor(model => model.sede)"</i> de la empresa <i> "@Html.DisplayFor(model => model.empresa.empresa)"</i></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <h5>  @Html.LabelFor(model => model.sede, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.sede, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sede, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5>
            @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
        </h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5>  @Html.LabelFor(model => model.empresa.empresa, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.empresa.Id, (SelectList)ViewBag.EmpresaLista as SelectList, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.empresa.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="BotonVerde " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "Sede" )'" />
            <input type="submit" value="Actualizar" class="BotonVerde" />
        </div>
    </div>
</div>
}

