@model Entities.Sede

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/modern-business.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4">

                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Editar la sede @Html.DisplayFor(model => model.sede)</h6>

                </div>

                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)






                    <h5 class="text-justify">Nombre de la sede</h5>
                    @Html.EditorFor(model => model.sede, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sede, "", new { @class = "text-danger" })
                    <br />

                    <h5 class="text-justify">Codigo</h5>
                    @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sede, "", new { @class = "text-danger" })
                    <br />

                    <h5 class="text-justify">Empresa</h5>
                    @Html.DropDownListFor(model => model.empresa.Id, (SelectList)ViewBag.EmpresaLista as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.empresa.Id, "", new { @class = "text-danger" })


                </div>



                <input type="button" class="btn btn-outline-primary " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "sede")'" />
                <br />
                <input type="submit" value="Guardar" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}

