@model Entities.SaludPreguntaOrden

@{
    ViewBag.Title = "SaludOrdenado";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />



<div class="d-flex flex-column" style="align-content:center">
    <div class="container-fluid">
        <div class="card shadow mb-4 ">
            <div class=" card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Salud de la pregunta   <i> "@Html.DisplayFor(model => model.pregunta.LaPregunta)"</i>
                </h6>



            </div>
            <div class="card-body">

                <dl class="dl-horizontal">




                    <dt>
                        @Html.DisplayNameFor(model => model.SaludDeLaPregunta)
                        <i style="text-decoration:none">&nbsp</i>

                        @if (Model.SaludDeLaPregunta == true)
                        {
                            <img src="~/img/UnCheck.png" width="50" height="50" />
                        }
                        @if (Model.SaludDeLaPregunta == false)
                        {
                            <img src="~/img/check.png" width="50" height="50" />
                        }
                    </dt>
                    <dt style="color:black ; font-size:30px"> Analisis de la pregunta:</dt>

                    &nbsp
                    &nbsp

                    <dt>
                        1.   @Html.DisplayNameFor(model => model.MasDeTresElementos)
                        &nbsp
                        @if (Model.MasDeTresElementos == true)
                        {
                            <a href="#" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                        }
                        @if (Model.MasDeTresElementos == false)
                        {
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-arrow-down"></i>
                            </a>

                        }
                    </dt>
                    &nbsp
                    <dt>
                        2.    @Html.DisplayNameFor(model => model.VeriricarElemento)
                        &nbsp


                        @if (Model.VeriricarElemento == true)
                        {
                            <a href="#" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                        }
                        @if (Model.VeriricarElemento == false)
                        {
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-arrow-down"></i>
                            </a>
                        }
                    </dt>
                    &nbsp
                    &nbsp
                    <dt>

                        3.    @Html.DisplayNameFor(model => model.PrimerElemento)
                        &nbsp


                        @if (Model.PrimerElemento == true)
                        {
                            <a href="#" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                        }
                        @if (Model.PrimerElemento == false)
                        {
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-arrow-down"></i>
                            </a>
                        }

                    </dt>
                    &nbsp
                    &nbsp
                    <dt>

                        4.    @Html.DisplayNameFor(model => model.TieneCategoria)
                        &nbsp


                        @if (Model.TieneCategoria == true)
                        {
                            <a href="#" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                        }
                        @if (Model.TieneCategoria == false)
                        {
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-arrow-down"></i>
                            </a>
                        }



                    </dt>

                </dl>



            </div>


            <input type="button" class="btn btn-outline-primary " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "PreguntaCategoria")'" />
            <input type="button" class="btn btn-outline-primary " style="float:right" value="Ver Respuesta" onclick="location.href='@Url.Action("Index", "Orden",new { id=Model.pregunta.Id})'" />

        </div>


    </div>
</div>
@section scripts
{
}